<a href="https://colab.research.google.com/github/tanoManzo/mimic_trajectories/blob/dev/MIMIC_TRAJECTORY_data_retrieval_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MIMIC III v1.4 dataset, Table Note Events

#### load notes dataframe

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

PATH_NOTES = "/content/drive/MyDrive/NIH/Data/NOTEEVENTS.csv"
df_notes = pd.read_csv(PATH_NOTES)
df_notes['CGID'] = df_notes['CGID'].astype('Int64')
df_notes.sample(5)

<ipython-input-2-660dc60c3942>:5: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_notes = pd.read_csv(PATH_NOTES)

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
1108630,1112223,66061,NaN,2121-11-24,2121-11-24 19:20:00,NaN,Radiology,R MR HIP W&W/O CONTRAST RIGHT,<NA>,NaN,[**2121-11-24**] 7:20 PM\n MR HIP W&W/O CONTRA...
505545,510201,95821,175287.0,2102-12-30,2102-12-30 13:56:00,2102-12-30 14:30:26,Nursing,Nursing Progress Note,17222,NaN,Pericardial effusion c/b Rapid Afib post-op da...
1776340,1812875,9574,161518.0,2110-01-12,2110-01-12 10:26:00,2110-01-12 10:32:00,Nursing/other,Report,18708,NaN,Neonatology - NP Physical Exam\nAwake and [** ...
1805972,1808953,9327,185384.0,2125-02-25,2125-02-25 13:47:00,2125-02-25 13:56:00,Nursing/other,Report,19211,NaN,Neonatology Attending Note\nPneumogram:\n\nPri...
97236,96772,9898,149685.0,2142-02-07,NaN,NaN,Echo,Report,<NA>,NaN,PATIENT/TEST INFORMATION:\nIndication: Pericar...

#### load patients dataframe

In [3]:
PATH_PATIENTS = "/content/drive/MyDrive/NIH/Data/PATIENTS.csv"
df_patients = pd.read_csv(PATH_PATIENTS)
df_patients.sample(5)

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
29824,28463,30276,M,2084-07-04 00:00:00,NaN,NaN,NaN,0
35731,32432,46267,M,2119-09-29 00:00:00,NaN,NaN,NaN,0
36999,40773,77897,M,2104-11-16 00:00:00,NaN,NaN,NaN,0
38395,41258,79894,M,2035-07-22 00:00:00,2104-05-01 00:00:00,2104-05-01 00:00:00,2104-05-01 00:00:00,1
9940,10359,10953,F,2049-11-29 00:00:00,NaN,NaN,NaN,0

#### load caregivers dataframe

In [4]:
PATH_CG = "/content/drive/MyDrive/NIH/Data/CAREGIVERS.csv"
df_cg = pd.read_csv(PATH_CG)
df_cg.sample(5)

      ROW_ID   CGID LABEL            DESCRIPTION
381      738  14669    RO              Read Only
5330    4430  18431    RO              Read Only
1502    3416  17417    RO              Read Only
4025    5417  19420    MS  Resident/Fellow/PA/NP
4371    4968  18904   MDs                    NaN

#### check other categories

In [5]:
df_notes["CATEGORY"].value_counts()

Nursing/other        822497
Radiology            522279
Nursing              223556
ECG                  209051
Physician            141624
Discharge summary     59652
Echo                  45794
Respiratory           31739
Nutrition              9418
General                8301
Rehab Services         5431
Social Work            2670
Case Management         967
Pharmacy                103
Consult                  98
Name: CATEGORY, dtype: int64

In [6]:
condition = ((df_notes["CATEGORY"]=="Nursing/other") | (df_notes["CATEGORY"]=="Nursing"))
df_notes_nursing = df_notes[condition].copy().reset_index(drop=True)
df_notes_nursing

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,316234,29075,179159.0,2116-02-07,2116-02-07 14:08:00,2116-02-07 14:08:20,Nursing,Nursing Transfer Note,20808,NaN,"67M w/ h/o multiplemyeloma Dx [**2111**], neur..."
1,316235,18082,181163.0,2156-03-12,2156-03-12 14:23:00,2156-03-12 14:23:59,Nursing,Nursing Transfer Note,15065,NaN,"[**Age over 90 52**]F with COPD on home O2, CA..."
2,316236,18082,181163.0,2156-03-12,2156-03-12 14:28:00,2156-03-12 14:28:37,Nursing,Nursing Progress Note,15065,NaN,"[**Age over 90 52**]F with COPD on home O2, CA..."
3,316247,18082,181163.0,2156-03-12,2156-03-12 14:28:00,2156-03-12 17:08:25,Nursing,Nursing Progress Note,15065,NaN,"[**Age over 90 52**]F with COPD on home O2, CA..."
4,316320,28742,185325.0,2144-02-02,2144-02-02 07:27:00,2144-02-02 07:27:11,Nursing,Nursing Transfer Note,15065,NaN,73 y/o female with breast cancer metastatic to...
...,...,...,...,...,...,...,...,...,...,...,...
1046048,2070657,31097,115637.0,2132-01-21,2132-01-21 03:27:00,2132-01-21 03:38:00,Nursing/other,Report,17581,NaN,NPN\n\n\n#1 Infant remains in RA with O2 sats...
1046049,2070658,31097,115637.0,2132-01-21,2132-01-21 09:50:00,2132-01-21 09:53:00,Nursing/other,Report,19211,NaN,"Neonatology\nDOL #5, CGA 36 weeks.\n\nCVR: Con..."
1046050,2070659,31097,115637.0,2132-01-21,2132-01-21 16:42:00,2132-01-21 16:44:00,Nursing/other,Report,20104,NaN,Family Meeting Note\nFamily meeting held with ...
1046051,2070660,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:16:00,Nursing/other,Report,16023,NaN,NPN 1800\n\n\n#1 Resp: [**Known lastname 2243*...
1046052,2070661,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:31:00,Nursing/other,Report,16023,NaN,NPN 1800\nNursing Addendum:\n[**Known lastname...

add number of words per each note

In [7]:
def num_words(notes):
  return len(notes.split())

df_notes_nursing['text_len'] = df_notes_nursing['TEXT'].map(lambda x: num_words(x))

remove caregivers with no ids

In [8]:
# remove empyt CGID rows 
condition = df_notes_nursing["CGID"].notna()
df_notes_nursing = df_notes_nursing[condition]
df_notes_nursing

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,text_len
0,316234,29075,179159.0,2116-02-07,2116-02-07 14:08:00,2116-02-07 14:08:20,Nursing,Nursing Transfer Note,20808,NaN,"67M w/ h/o multiplemyeloma Dx [**2111**], neur...",345
1,316235,18082,181163.0,2156-03-12,2156-03-12 14:23:00,2156-03-12 14:23:59,Nursing,Nursing Transfer Note,15065,NaN,"[**Age over 90 52**]F with COPD on home O2, CA...",446
2,316236,18082,181163.0,2156-03-12,2156-03-12 14:28:00,2156-03-12 14:28:37,Nursing,Nursing Progress Note,15065,NaN,"[**Age over 90 52**]F with COPD on home O2, CA...",446
3,316247,18082,181163.0,2156-03-12,2156-03-12 14:28:00,2156-03-12 17:08:25,Nursing,Nursing Progress Note,15065,NaN,"[**Age over 90 52**]F with COPD on home O2, CA...",446
4,316320,28742,185325.0,2144-02-02,2144-02-02 07:27:00,2144-02-02 07:27:11,Nursing,Nursing Transfer Note,15065,NaN,73 y/o female with breast cancer metastatic to...,153
...,...,...,...,...,...,...,...,...,...,...,...,...
1046048,2070657,31097,115637.0,2132-01-21,2132-01-21 03:27:00,2132-01-21 03:38:00,Nursing/other,Report,17581,NaN,NPN\n\n\n#1 Infant remains in RA with O2 sats...,143
1046049,2070658,31097,115637.0,2132-01-21,2132-01-21 09:50:00,2132-01-21 09:53:00,Nursing/other,Report,19211,NaN,"Neonatology\nDOL #5, CGA 36 weeks.\n\nCVR: Con...",95
1046050,2070659,31097,115637.0,2132-01-21,2132-01-21 16:42:00,2132-01-21 16:44:00,Nursing/other,Report,20104,NaN,Family Meeting Note\nFamily meeting held with ...,81
1046051,2070660,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:16:00,Nursing/other,Report,16023,NaN,NPN 1800\n\n\n#1 Resp: [**Known lastname 2243*...,328
1046052,2070661,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:31:00,Nursing/other,Report,16023,NaN,NPN 1800\nNursing Addendum:\n[**Known lastname...,14

In [9]:
df_notes_nursing['DESCRIPTION'].value_counts()

Report                                     822497
Nursing Progress Note                      191832
Nursing Transfer Note                       30772
Generic Note                                  616
Nursing 1900-0700                             172
ICU Event Note                                 25
Nursing Note                                   18
Transfer Note                                  11
Nursing 2000-0700                               8
Nursing 1900 - 0700                             8
Nursing 2300 - 0700                             8
Nursing 2300-0700                               5
Nursing 0100 - 0700                             5
Nursing admit 0001 - 0700                       5
NURSING 1900-0700                               5
Nursing Admission Note                          4
Nursiong Progress Note                          3
Nuirsing 1900-0700                              3
nursing 1900-0700                               3
Nursing admit 2100 - 0700                       2
Progress note                                   2
Progress Note                                   2
progress note                                   2
transfere note                                  2
Nursing AdmissionNote                           2
Nursing 2100-0700                               2
Admission Note                                  2
Nursing 0300-0700                               2
Nursing admit note 2300-0700                    2
transfer note                                   2
Cardiology Comprehensive Physician Note         2
Nursing 0130-0700                               2
NPN                                             2
Addendum to transfer Note                       1
set as error                                    1
Nursing Discharge Note                          1
Nursing admit                                   1
Nursing admit note.                             1
acceptance note                                 1
Nursing Admit Note                              1
Accept Note - MICU                              1
Nursing "B"                                     1
Nursing 1900-0001                               1
Case Management Continued Stay Review           1
CCU nursing Progress                            1
Nursing  note                                   1
admit note                                      1
Nursing 19000 -2250                             1
MICU/CCU Nursing Admission Note                 1
Nursing                                         1
Nursing 1900-2217                               1
Nursing 0100-0700                               1
ICU Event Note intubation                       1
Nursing 1900+-0700                              1
Nursong Progress Note                           1
ICU Note - CVI                                  1
Nursing discharge note                          1
Nursing Admission/Progress Note                 1
Name: DESCRIPTION, dtype: int64

take only progess notes and remove duplicates

In [10]:
condition = ((df_notes_nursing['DESCRIPTION']=="Nursing Progress Note") & (df_notes_nursing['text_len']>100))
cols= ['ROW_ID','SUBJECT_ID','CGID','CHARTDATE','TEXT'] 
df_notes_nursing_filtered = df_notes_nursing[condition].sort_values('text_len', ascending=False).drop_duplicates(['CGID','SUBJECT_ID','CHARTDATE']).reset_index(drop=True)
df_notes_nursing_filtered = df_notes_nursing_filtered[cols]

add CGID_LABEL and description

In [11]:
df_notes_nursing_filtered["CGID_LABEL"] = df_notes_nursing_filtered['CGID'].map(lambda x: df_cg[df_cg['CGID']==x]['LABEL'].values[0])
df_notes_nursing_filtered["CGID_DESCRIPTION"] = df_notes_nursing_filtered['CGID'].map(lambda x: df_cg[df_cg['CGID']==x]['DESCRIPTION'].values[0])
df_notes_nursing_filtered

,ROW_ID,SUBJECT_ID,CGID,CHARTDATE,TEXT,CGID_LABEL,CGID_DESCRIPTION
0,663932,70516,17693,2189-03-07,"42 year old with hep C cirrhosis, CVID, recent...",RN,RN
1,451374,60059,15065,2158-02-19,"Suggestion Compilation, posted by [1]Alehmer a...",RN,RN
2,315712,31605,18469,2128-03-14,81 years old male pt with a PMH of CHF and GI ...,RN,RN
3,680420,55428,15047,2166-06-17,HPI: Pt is a 61 yo M with hx of seizure d/o s/...,RN,RN
4,392446,11638,15544,2179-10-27,[**10-26**]:\n PICC Placement failed at beds...,RN,RN
...,...,...,...,...,...,...,...
66273,346918,7449,19963,2138-11-11,"Pain control (acute pain, chronic pain)\n As...",RN,RN
66274,574157,84798,17790,2155-06-03,"Gastrointestinal bleed, other (GI Bleed, GIB)\...",RN,RN
66275,686986,54506,15815,2178-07-12,"62 yo gentleman with cerebral palsy, diverticu...",RN,RN
66276,684022,99383,17222,2131-06-30,"Fever, unknown origin (FUO, Hyperthermia, Pyre...",RN,RN
66277,346250,27816,20070,2168-10-20,".H/O hypertension, benign\n Assessment:\n ...",RN,RN

In [12]:
df_notes_nursing_filtered['CGID_DESCRIPTION'].value_counts()

RN                       65708
Read Only                  450
Resident/Fellow/PA/NP       43
Respiratory                 39
PCT/NA                      12
Attending                   12
UCO                          8
Social Worker                2
Pharmacist                   2
Dietitian                    1
Rehabilitation               1
Name: CGID_DESCRIPTION, dtype: int64

take only nurses' notes

In [13]:
condition = df_notes_nursing_filtered['CGID_DESCRIPTION'] == 'RN'
df_notes_nursing_filtered = df_notes_nursing_filtered[condition].reset_index(drop=True)
df_notes_nursing_filtered.set_index(['CGID','SUBJECT_ID','CHARTDATE']).sort_index(ascending=True)['TEXT']

CGID   SUBJECT_ID  CHARTDATE
14023  199         2174-04-14    Coronary artery bypass graft (CABG)\n   Assess...
       2090        2137-10-12    Aortic aneurysm, thoracic (TAA)\n   Assessment...
                   2137-10-13    Aortic aneurysm, thoracic (TAA)\n   Assessment...
                   2137-11-09    [**Last Name **] Problem - Hematuria\n   Asses...
                   2137-11-10    Hypernatremia (high sodium)\n   Assessment:\n ...
                                                       ...
21545  91031       2160-01-01    Pt stable overnoc. ? transfer to floor today\n...
       91648       2180-03-11    Fever (Hyperthermia, Pyrexia, not Fever of Unk...
       95841       2160-04-13    Delirium / confusion\n   Assessment:\n   pt ex...
       96772       2175-04-30    57 yo male received from OR s/p liver transpla...
       99256       2161-02-03    Anemia, acute, secondary to blood loss (Hemorr...
Name: TEXT, Length: 65708, dtype: object

In [17]:
# path and name of the cvs file 
PATH_TO_SAVE = "/content/drive/MyDrive/NIH/Data/"
name_file_to_save = 'NOTES_NURSING_TRAJECTORIES_01.csv'
df_notes_nursing_filtered.drop(['CGID_LABEL','CGID_DESCRIPTION'],axis=1).to_csv(PATH_TO_SAVE+name_file_to_save,index=False)