<a href="https://colab.research.google.com/github/tanoManzo/mimic_trajectories/blob/dev/MIMIC_TRAJECTORY_data_retrieval_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MIMIC III v1.4 dataset, Table Note Events

#### load notes dataframe

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
import pandas as pd
import numpy as np

PATH_NOTES = "/content/drive/MyDrive/NIH/Data/NOTEEVENTS.csv"
df_notes = pd.read_csv(PATH_NOTES)
df_notes['CGID'] = df_notes['CGID'].astype('Int64')
df_notes.sample(5)

<ipython-input-4-660dc60c3942>:5: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_notes = pd.read_csv(PATH_NOTES)

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
1434187,1462314,15398,174816.0,2117-10-11,2117-10-11 21:39:00,2117-10-11 21:45:00,Nursing/other,Report,21327,NaN,~1605 Patient admitted from or s/p avr and cab...
1529418,1557703,22609,148434.0,2196-11-14,2196-11-14 06:43:00,2196-11-14 06:46:00,Nursing/other,Report,17698,NaN,Respiratory Care\nIntubated last evening due t...
1021738,1022538,29030,109151.0,2141-06-20,2141-06-20 11:28:00,NaN,Radiology,CHEST (PORTABLE AP),<NA>,NaN,"[**Last Name (LF) 7195**],[**First Name3 (LF) ..."
740681,744300,25801,182210.0,2141-10-25,2141-10-25 12:24:00,NaN,Radiology,CHEST (PA & LAT),<NA>,NaN,[**2141-10-25**] 12:24 PM\n CHEST (PA & LAT) ...
1551265,1547444,21734,121624.0,2137-07-05,2137-07-05 13:20:00,2137-07-05 13:23:00,Nursing/other,Report,14431,NaN,CCU NPN\nPt has remained stable. Distal pulses...

In [14]:
notes_name = "NOTES_NURSING_NEONATOLOGY.csv" # has young patient with matching notes
notes_path = "/content/drive/MyDrive/NIH/Data/"
df_notes_neanatal = pd.read_csv(notes_path+notes_name)
df_notes[df_notes['CGID'].isin(df_notes_neanatal['CGID'].unique())]['DESCRIPTION'].value_counts()

Report    147191
Name: DESCRIPTION, dtype: int64

#### load patients dataframe

In [15]:
PATH_PATIENTS = "/content/drive/MyDrive/NIH/Data/PATIENTS.csv"
df_patients = pd.read_csv(PATH_PATIENTS)
df_patients.sample(5)

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
21776,25578,27108,M,2093-03-27 00:00:00,NaN,NaN,NaN,0
31930,24933,26419,M,2091-01-26 00:00:00,2179-04-08 00:00:00,NaN,2179-04-08 00:00:00,1
44233,37589,65656,M,2067-06-19 00:00:00,NaN,NaN,NaN,0
33499,26347,27950,F,2111-10-02 00:00:00,NaN,NaN,NaN,0
12125,13931,14731,M,2118-08-28 00:00:00,NaN,NaN,NaN,0

#### load caregivers dataframe

In [16]:
PATH_CG = "/content/drive/MyDrive/NIH/Data/CAREGIVERS.csv"
df_cg = pd.read_csv(PATH_CG)
df_cg.sample(5)

      ROW_ID   CGID  LABEL            DESCRIPTION
6913    5834  19787    Res  Resident/Fellow/PA/NP
663      286  14061     MD              Read Only
2956    1731  15731  Rehab         Rehabilitation
6880    5801  19754    Res  Resident/Fellow/PA/NP
4124    6086  20039     MD                    NaN

#### check other categories

In [35]:
df_notes["CATEGORY"].value_counts()

Nursing/other        822497
Radiology            522279
Nursing              223556
ECG                  209051
Physician            141624
Discharge summary     59652
Echo                  45794
Respiratory           31739
Nutrition              9418
General                8301
Rehab Services         5431
Social Work            2670
Case Management         967
Pharmacy                103
Consult                  98
Name: CATEGORY, dtype: int64

In [36]:
condition = ((df_notes["CATEGORY"]=="Nursing/other") | (df_notes["CATEGORY"]=="Nursing"))
df_notes_nursing = df_notes[condition].copy().reset_index(drop=True)
df_notes_nursing

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,316234,29075,179159.0,2116-02-07,2116-02-07 14:08:00,2116-02-07 14:08:20,Nursing,Nursing Transfer Note,20808,NaN,"67M w/ h/o multiplemyeloma Dx [**2111**], neur..."
1,316235,18082,181163.0,2156-03-12,2156-03-12 14:23:00,2156-03-12 14:23:59,Nursing,Nursing Transfer Note,15065,NaN,"[**Age over 90 52**]F with COPD on home O2, CA..."
2,316236,18082,181163.0,2156-03-12,2156-03-12 14:28:00,2156-03-12 14:28:37,Nursing,Nursing Progress Note,15065,NaN,"[**Age over 90 52**]F with COPD on home O2, CA..."
3,316247,18082,181163.0,2156-03-12,2156-03-12 14:28:00,2156-03-12 17:08:25,Nursing,Nursing Progress Note,15065,NaN,"[**Age over 90 52**]F with COPD on home O2, CA..."
4,316320,28742,185325.0,2144-02-02,2144-02-02 07:27:00,2144-02-02 07:27:11,Nursing,Nursing Transfer Note,15065,NaN,73 y/o female with breast cancer metastatic to...
...,...,...,...,...,...,...,...,...,...,...,...
1046048,2070657,31097,115637.0,2132-01-21,2132-01-21 03:27:00,2132-01-21 03:38:00,Nursing/other,Report,17581,NaN,NPN\n\n\n#1 Infant remains in RA with O2 sats...
1046049,2070658,31097,115637.0,2132-01-21,2132-01-21 09:50:00,2132-01-21 09:53:00,Nursing/other,Report,19211,NaN,"Neonatology\nDOL #5, CGA 36 weeks.\n\nCVR: Con..."
1046050,2070659,31097,115637.0,2132-01-21,2132-01-21 16:42:00,2132-01-21 16:44:00,Nursing/other,Report,20104,NaN,Family Meeting Note\nFamily meeting held with ...
1046051,2070660,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:16:00,Nursing/other,Report,16023,NaN,NPN 1800\n\n\n#1 Resp: [**Known lastname 2243*...
1046052,2070661,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:31:00,Nursing/other,Report,16023,NaN,NPN 1800\nNursing Addendum:\n[**Known lastname...

add number of words per each note

In [38]:
def num_words(notes):
  return len(notes.split())

df_notes_nursing['text_len'] = df_notes_nursing['TEXT'].map(lambda x: num_words(x))

remove caregivers with no ids

In [39]:
# remove empyt CGID rows 
condition = df_notes_nursing["CGID"].notna()
df_notes_nursing = df_notes_nursing[condition]
df_notes_nursing

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,text_len
0,316234,29075,179159.0,2116-02-07,2116-02-07 14:08:00,2116-02-07 14:08:20,Nursing,Nursing Transfer Note,20808,NaN,"67M w/ h/o multiplemyeloma Dx [**2111**], neur...",345
1,316235,18082,181163.0,2156-03-12,2156-03-12 14:23:00,2156-03-12 14:23:59,Nursing,Nursing Transfer Note,15065,NaN,"[**Age over 90 52**]F with COPD on home O2, CA...",446
2,316236,18082,181163.0,2156-03-12,2156-03-12 14:28:00,2156-03-12 14:28:37,Nursing,Nursing Progress Note,15065,NaN,"[**Age over 90 52**]F with COPD on home O2, CA...",446
3,316247,18082,181163.0,2156-03-12,2156-03-12 14:28:00,2156-03-12 17:08:25,Nursing,Nursing Progress Note,15065,NaN,"[**Age over 90 52**]F with COPD on home O2, CA...",446
4,316320,28742,185325.0,2144-02-02,2144-02-02 07:27:00,2144-02-02 07:27:11,Nursing,Nursing Transfer Note,15065,NaN,73 y/o female with breast cancer metastatic to...,153
...,...,...,...,...,...,...,...,...,...,...,...,...
1046048,2070657,31097,115637.0,2132-01-21,2132-01-21 03:27:00,2132-01-21 03:38:00,Nursing/other,Report,17581,NaN,NPN\n\n\n#1 Infant remains in RA with O2 sats...,143
1046049,2070658,31097,115637.0,2132-01-21,2132-01-21 09:50:00,2132-01-21 09:53:00,Nursing/other,Report,19211,NaN,"Neonatology\nDOL #5, CGA 36 weeks.\n\nCVR: Con...",95
1046050,2070659,31097,115637.0,2132-01-21,2132-01-21 16:42:00,2132-01-21 16:44:00,Nursing/other,Report,20104,NaN,Family Meeting Note\nFamily meeting held with ...,81
1046051,2070660,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:16:00,Nursing/other,Report,16023,NaN,NPN 1800\n\n\n#1 Resp: [**Known lastname 2243*...,328
1046052,2070661,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:31:00,Nursing/other,Report,16023,NaN,NPN 1800\nNursing Addendum:\n[**Known lastname...,14

In [40]:
df_notes_nursing['DESCRIPTION'].value_counts()

Report                                     822497
Nursing Progress Note                      191832
Nursing Transfer Note                       30772
Generic Note                                  616
Nursing 1900-0700                             172
ICU Event Note                                 25
Nursing Note                                   18
Transfer Note                                  11
Nursing 2000-0700                               8
Nursing 1900 - 0700                             8
Nursing 2300 - 0700                             8
Nursing 2300-0700                               5
Nursing 0100 - 0700                             5
Nursing admit 0001 - 0700                       5
NURSING 1900-0700                               5
Nursing Admission Note                          4
Nursiong Progress Note                          3
Nuirsing 1900-0700                              3
nursing 1900-0700                               3
Nursing admit 2100 - 0700                       2
Progress note                                   2
Progress Note                                   2
progress note                                   2
transfere note                                  2
Nursing AdmissionNote                           2
Nursing 2100-0700                               2
Admission Note                                  2
Nursing 0300-0700                               2
Nursing admit note 2300-0700                    2
transfer note                                   2
Cardiology Comprehensive Physician Note         2
Nursing 0130-0700                               2
NPN                                             2
Addendum to transfer Note                       1
set as error                                    1
Nursing Discharge Note                          1
Nursing admit                                   1
Nursing admit note.                             1
acceptance note                                 1
Nursing Admit Note                              1
Accept Note - MICU                              1
Nursing "B"                                     1
Nursing 1900-0001                               1
Case Management Continued Stay Review           1
CCU nursing Progress                            1
Nursing  note                                   1
admit note                                      1
Nursing 19000 -2250                             1
MICU/CCU Nursing Admission Note                 1
Nursing                                         1
Nursing 1900-2217                               1
Nursing 0100-0700                               1
ICU Event Note intubation                       1
Nursing 1900+-0700                              1
Nursong Progress Note                           1
ICU Note - CVI                                  1
Nursing discharge note                          1
Nursing Admission/Progress Note                 1
Name: DESCRIPTION, dtype: int64

take only progess notes and remove duplicates

In [41]:
condition = ((df_notes_nursing['DESCRIPTION']=="Report") & (df_notes_nursing['text_len']>10))
cols= ['ROW_ID','SUBJECT_ID','CGID','CHARTDATE','TEXT'] 
df_notes_nursing_filtered = df_notes_nursing[condition].sort_values('text_len', ascending=False).drop_duplicates(['CGID','SUBJECT_ID','CHARTDATE']).reset_index(drop=True)
df_notes_nursing_filtered = df_notes_nursing_filtered[cols]

add CGID_LABEL and description

In [43]:
df_notes_nursing_filtered["CGID_LABEL"] = df_notes_nursing_filtered['CGID'].map(lambda x: df_cg[df_cg['CGID']==x]['LABEL'].values[0])
df_notes_nursing_filtered["CGID_DESCRIPTION"] = df_notes_nursing_filtered['CGID'].map(lambda x: df_cg[df_cg['CGID']==x]['DESCRIPTION'].values[0])
df_notes_nursing_filtered

,ROW_ID,SUBJECT_ID,CGID,CHARTDATE,TEXT,CGID_LABEL,CGID_DESCRIPTION
0,2019399,25397,14720,2187-02-16,Social Work:\nHad provider meeting this aftern...,LICSW,NaN
1,1365278,7666,18679,2159-07-13,NPN-[** **]\nMr [**Known lastname 1245**] has ...,RN,RN
2,1351994,6787,18523,2175-04-05,Called to assist with daughter [**Name (NI) 26...,RN,RN
3,1543446,21422,17765,2147-03-24,SOCIAL WORK NOTE:\n\nNew pt on T-SICU. Pt is ...,LICSW,NaN
4,1600508,25950,17765,2159-08-22,SOCIAL WORK NOTE: New trauma pt brought to CT...,LICSW,NaN
...,...,...,...,...,...,...,...
740061,1506088,18538,16333,2157-05-30,"NPN (NOC): PLEASE SEE TRANSFER NOTE, HARD COP...",RN,RN
740062,1735597,4205,16022,2163-06-11,Addendum\nAgree with above note and assessment...,RN,NaN
740063,1790140,7892,16025,2151-08-26,Case Management Note\nPlease see d'c planning ...,RN,Case Manager
740064,1347550,6470,17398,2148-09-09,"pt transported to CT without incidence, pt sx'...",RRT,NaN
740065,1916175,16803,14989,2150-07-01,"Agree with co workers note above, please read ...",RN,NaN

In [46]:
df_notes_nursing_filtered['CGID_DESCRIPTION'].value_counts()

RN                       182657
Read Only                125624
Respiratory               71221
Dietitian                  6996
Case Manager               2203
Resident/Fellow/PA/NP      1561
Rehabilitation              603
Social Worker               145
Pharmacist                   36
PCT/NA                        2
Name: CGID_DESCRIPTION, dtype: int64

take only nurses' notes

In [62]:
condition = (df_notes_nursing_filtered['CGID_DESCRIPTION'] == 'RN') | (df_notes_nursing_filtered['CGID_DESCRIPTION'].isna())
df_notes_nursing_filtered = df_notes_nursing_filtered[condition].reset_index(drop=True)
df_notes_nursing_filtered.set_index(['CGID','SUBJECT_ID','CHARTDATE']).sort_index(ascending=True)['TEXT']

CGID   SUBJECT_ID  CHARTDATE
14020  1978        2134-12-26    Admission note [**8-/2027**]\nH&P, Transfer no...
       4916        2182-10-31    npn [**7-4**]\nNo sig. events.\n\nNeuro: Pt. o...
                   2182-11-01    NPN [**7-4**]\nEvents: Pt. moved to Kinaire be...
       27256       2179-11-12    npn [**7-/2072**]\nEvents: pt. had CT scan in ...
       27259       2176-11-19    npn 19-07\nNo new events.\n\nNeuro: Pt. on Pro...
                                                       ...
21570  26727       2148-03-20    CCU Nsg admission note\nSee FHP for full admis...
                   2148-03-21    CCU Nursing Progress Note MICU [**Location (un...
       26812       2157-12-09    7P-7A Full assessment in flow sheet.\nPt slept...
       29197       2142-11-06    2145- PT RETURNED FROM OR POST BURR HOLES AND ...
                   2142-11-07    PT AFEBRILE, [**Name (NI) 51**] BUT FOR NEEDIN...
Name: TEXT, Length: 531675, dtype: object

In [63]:
# path and name of the cvs file 
PATH_TO_SAVE = "/content/drive/MyDrive/NIH/Data/"
name_file_to_save = 'NOTES_NURSING_TRAJECTORIES_01.csv'
df_notes_nursing_filtered.drop(['CGID_LABEL','CGID_DESCRIPTION'],axis=1).to_csv(PATH_TO_SAVE+name_file_to_save,index=False)

In [64]:
df_notes_nursing_filtered

,ROW_ID,SUBJECT_ID,CGID,CHARTDATE,TEXT,CGID_LABEL,CGID_DESCRIPTION
0,2019399,25397,14720,2187-02-16,Social Work:\nHad provider meeting this aftern...,LICSW,NaN
1,1365278,7666,18679,2159-07-13,NPN-[** **]\nMr [**Known lastname 1245**] has ...,RN,RN
2,1351994,6787,18523,2175-04-05,Called to assist with daughter [**Name (NI) 26...,RN,RN
3,1543446,21422,17765,2147-03-24,SOCIAL WORK NOTE:\n\nNew pt on T-SICU. Pt is ...,LICSW,NaN
4,1600508,25950,17765,2159-08-22,SOCIAL WORK NOTE: New trauma pt brought to CT...,LICSW,NaN
...,...,...,...,...,...,...,...
531670,1974281,21464,20104,2189-03-18,Procedure Note: UAC removal.\n\nUAC removed in...,NP,NaN
531671,1506088,18538,16333,2157-05-30,"NPN (NOC): PLEASE SEE TRANSFER NOTE, HARD COP...",RN,RN
531672,1735597,4205,16022,2163-06-11,Addendum\nAgree with above note and assessment...,RN,NaN
531673,1347550,6470,17398,2148-09-09,"pt transported to CT without incidence, pt sx'...",RRT,NaN
531674,1916175,16803,14989,2150-07-01,"Agree with co workers note above, please read ...",RN,NaN